* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: auto; 
    margin: 0; 
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

h1 {
    color: black;
    font-size: 30px;
    margin: 10px 0;
}

h2 {
    color: #333; 
    font-size: 24px; 
}

img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

div {
    padding: 20px;
}

p {
    color: #555; 
    font-size: 16px; 
    line-height: 1.5; 
}

@media (min-width: 1920px) or (max-width: 1920px) {
    .container {
        grid-template-columns: repeat(3, 1fr); 
        max-width: 1800px;
        margin: auto; 
    }

    h1 {
        font-size: 36px; 
    }
}

@media screen and (max-width: 1620px) and (max-height: 2160px) {
    .container {
        grid-template-columns: repeat(2, 1fr); 
        padding: 10px; 
    }

    h1 {
        font-size: 32px; 
    }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
    .container {
        grid-template-columns: 1fr; 
        padding: 5px; 
    }

    h1 {
        font-size: 28px; 
    }

    img {
        width: 120px; 
        height: auto; 
    }

    p {
        font-size: 14px; 
    }
}

@media screen and (max-width: 414px) and (max-height: 896px) {
    .container {
        padding: 5px; 
    }

    h1 {
        font-size: 24px; 
    }

    img {
        width: 100px; 
    }

    p {
        font-size: 12px; 
    }
}

@media screen and (max-width: 375px) and (max-height=667px) {
    h1 {
        font-size: 22px; 
    }
}

@media screen and (max-width: 360px) and (max-height=780px),
screen and (max-width: 360px) and (max-height=640px) {
    h1 {
        font-size: 20px; 
    }

    p {
        font-size: 11px; 
    }
}
